<head>
	<link rel="stylesheet" type="text/css" href="style.css">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>

<body>
  <ul id="nav">
  <a href="#" id="price">Change price</a>
  <a href="#" id="read">Change read</a>
</ul>
<div id="container">
<div id="changeInput">

  <div class="topNav">
  <label>Price:</label>
  <input type="text" name="price" placeholder="Month Price" class="top" id="mPrice">
  </div>
  
  <div class="topNav">
  <label>Begin:</label>
  <input type="text" name="read1" placeholder="Day Read" class="top" id="dBegin">
  </div>

  <div class="topNav">
  <label>Month Begin:</label>
  <input type="text" name="read2"  placeholder="Month Read" class="top" id="mBegin">
  </div>
</div>


	<div id="container">
	<header>
    <h1 id="pee">Steven's</h1>
		<h1>Electric Meter App</h1>
    <input type="text" name="input" id="mainInput" placeholder="Enter Daily Read">
    
    </header>

    
    <ul class="list">
    	
    </ul>

	</div>
  <script type="text/javascript" src="utilities.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>